

/*
    FORM
*/
.labor-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 25px;  
}


/*---------------- RESPONSIVE LAYOUT ----------------*/


/* ----------
        COMPUTER SCREEN REGULAR 
----------------------*/
@media screen and (min-width: 768px) {
  
    #select-labor{
        
        font-size: 16px;
    
    }
    
}
  

/* ---------------------- 
        COMPUTER SCREEN LARGE 
----------------------*/
@media screen and (min-width: 1024px) {
    



    #select-labor{
        
        font-size: 18px;
    
    }


}