#select-labor{
    border: 1px solid black;
    margin: auto 0;
    color: black;
    padding: 5px;
    font-size: 14px;

}

/*
    FORM
*/
.labor-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 25px;  
}


/*---------------- RESPONSIVE LAYOUT ----------------*/


/* ----------
        COMPUTER SCREEN REGULAR 
----------------------*/
@media screen and (min-width: 768px) {
  
    #select-labor{
        
        font-size: 16px;
    
    }
    
}
  

/* ---------------------- 
        COMPUTER SCREEN LARGE 
----------------------*/
@media screen and (min-width: 1024px) {
    

    #hours{
        font-size: 35px;
    }

    #select-labor{
        
        font-size: 18px;
    
    }


}